<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://devqueue.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=9VZ4337qQMT4+PvRZoRO1oo5PSUPncl5Uww3QFBibLI=" />
    <add key="StorageBlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=devstorage;AccountKey=pYG5osbJCLsUOspqBiAQu1o5YKPrJsk13cERFA06wQdiVYUZwvcJEmKAHHvn4fro5X4dhQBE2VDzVAwUV4FxHQ==;EndpointSuffix=core.windows.net" />
    <add key="ContibutionQueueName" value="dev-contribution-queue" />
    <add key="PoisonQueueName" value="dev-poison-queue" />
    <add key="MaxConcurrentCalls" value="1" />
    <add key="MaxAutoRenewDuration" value="5" />
    <add key="PreFetchCount" value="1" />
    <add key="UsePoisonQueue" value="False" />
    <add key="CheckQueueProcessorTimerIntervalInMilliSeconds" value="50000"/>
    <add key="UseDeadLetterQueue" value="False" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>